global-exclude *.py[cod]
global-exclude *.coverage

include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include VERSION
include example.json
include tox.ini
include runtests.py
include .editorconfig


include *.in
include *.txt
include *.yaml
include *.yml

recursive-include tests *.py

recursive-exclude * __pycache__
recursive-exclude * *.DS_Store
