# Test dependencies
# will be pinned by pip-compile in 'requirements_tests.txt'
# python3.7+

sphinx_rtd_theme

numpy>=1.16
matplotlib

pytest
pytest-cov

# fix vulnerabilities:
py>=1.10.0
pygments>=2.7.4
urllib3>=1.26.4
jinja2>=2.11.3
