# Test dependencies
# will be pinned by pip-compile in 'requirements_tests.txt'
# python3.6+

numpy>=1.16

pytest
pytest-cov

docutils # to check your setup.py is well configured
flake8 # check code quality
flake8-commas
isort # to show where imports aren’t sorted
multilint
pygments # to check your setup.py is well configured
