numpy

docutils # to check your setup.py is well configured
flake8 # check code quality
flake8-commas
isort # to show where imports aren’t sorted
multilint
pygments # to check your setup.py is well configured
pytest
pytest-cov

